

<div class="row">
<div class="col-6"><h1>Usuario</h1></div>
<div class="col-6 d-flex justify-content-end">
  <a href="/adduser" type="button" class="btn btn-primary aling-self-center">+ Adicionar Usuario</a>
</div>
</div>


<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">primeiro nome</th>
      <th scope="col">segundo nome</th>
      <th scope="col">e-mail</th>
      <th scope="col">telefone</th>
      <th scope="col" class="text-end">ação</th>

    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.primeiro_nome}}</td>
      <td>{{this.segundo_nome}}</td>
      <td>{{this.email}}</td>
      <td>{{this.telefone}}</td>
      <td>
          <a href="/viewuser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>Vizualizar</a>
          <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Editar</a>
          <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>Deletar</a>

      </td>

    </tr>
    {{/each}}
   
  </tbody>
</table>